  
@media only screen and (max-width:978px){
.row{ padding:0 15px;}
#main-menu{ padding-left:0;}
#main-menu ul li a{ padding:28px 15px;}
.tabs ul li a{ padding-left:15px; padding-right:15px;}
.wemake-content-form h4{ font-size:22px;}/*******/
.check-blog{ font-size:12px;}/*********/
.learn-more{ margin-top:9px;}/*************/
}

@media only screen and (max-width:960px){
.top-bar-left-menu ul li a{ padding:6px 8px;}
.top-bar-right-menu ul li a{ padding:9px 12px;}
.banner-top-content h1{ font-size:100px; line-height:110px;}
#main-menu ul li a{ padding:28px 18px;}
#sidebar h2{ font-size:30px;}
.content{ padding-right:20px;}
#sidebar{ padding-left:20px;}
h3{ font-size:26px;}
.list-bottom-heading{ padding:15px 10px;}
.shop-list-img{ height:auto; min-height:320px; display:block;}
.shop-list-img span{ display:block; padding-top:25%;}
.happy-hour-sec-in h1{ font-size:85px;}
.day-text{ font-size:25px; padding:25px;}
.join-text{ font-size:32px;}
.head{ font-size:30px;}
.price{ font-size:35px;}
.one-seventh-cont h4{ font-size:16px;}
.annual-license-sec-in h2, .racing-best-value-head h2{ font-size:28px;}
.cont-price{ font-size:30px;}
.junior-racing .price{ font-size:30px;}
.junior-racing h4{ font-size:20px;}
.event-section h1{ font-size:50px;}
}

@media only screen and (max-width:920px){
.menu-innerpage .logo-small, .logo-small{ padding:4px 0;}
.menu-innerpage .book-box, .book-box{ padding:5px 0;}
.menu-innerpage #main-menu ul li a, #main-menu ul li a{ padding:17px 15px; font-size:13px;}
.tabs ul li a{ padding-left:12px; padding-right:12px;}
.wemake-content-form{ padding:25px 18px 35px;}/**************/
.learn-more{ padding:12px 18px;}
}

@media only screen and (max-width:860px){
.menu-innerpage .book-box, .book-box{ display:none;}
#main-menu{ float:right;}
h1{ font-size:60px;}
h2{ font-size:32px;}
.book-race-head h1{ line-height:60px;}
.banner-top-content h1{ font-size:80px; line-height:85px;}
.shop-list-img{ min-height:250px;}
.tabs ul{ display:none;}
.alter-tabs{ display:block;}
.calender-contant-left-head h3{ font-size:20px;}
.pub-txt{ font-size:20px; line-height:30px; padding-top:20px; padding-bottom:30px;}
.featured-event-date{ font-size:75px;}
.calender-contant-left-cont{ padding:15px;}
.regular-hours-bg h2, .holiday-bg h2{ font-size:28px;}
.side-bar-list-content{ padding:10px;}
.heading-arrow-sec h2{ font-size:35px;}
.head{ font-size:28px;}
.group-event-sec h1{ font-size:75px;}
.racing-value h4{ font-size:18px;}
.one-seventh-cont h4{ font-size:15px;}
.event-section h1{ font-size:45px;}
.party-pkg-head{ font-size:20px;}
.wemake-content h3{ font-size:25px;}/******/
.wemake-content-form h4{ font-size:19px; line-height:15px;}/***********/
.wemake-content p{ padding:5px 0px;}/*******/
.group-corporate-right p{ font-size:13px; line-height:19px;}
.follow-listing ul li{ width:33%;}
}

@media only screen and (max-width:767px){
.footer-left-sec{ float:none; text-align:center;}
.footer-right-sec{ float:none; text-align:center;}
.menu-innerpage #main-menu ul li a, #main-menu ul li a{ font-size:12px; padding:17px 13px;}
h1{ font-size:50px;}
.book-race-head h1{ line-height:50px;}
.race-main-list-right{ width:75%;}
.race-main-list-left span{ font-size:130px; line-height:100px;}
.form-main-bg{ padding:30px;}
.stay-inform-form{ position:inherit;}
.stay-inform-form-in{ border-radius:0;}
.stay-inform-form .row{ padding:0;}
.stay-informed{ float:none; width:auto; padding-bottom:0;}
.stay-informed-from{ float:none; width:auto; padding:15px;}
.stay-informed{ background:none; padding-left:15px; padding-right:15px;}
.blog-banner{ padding-bottom:60px;}
.content{ float:none; width:auto; padding-right:0;}
#sidebar{ float:none; width:auto; padding-left:20px; padding-right:20px; padding-bottom:20px;}
#wrapper{ background:#fff;}
.list-bottom-heading{ padding:18px;}
.blog-listing{ padding-bottom:20px;}
.calender-contant-left-in{ margin-top:0;}
.calender-contant-left{ float:none; width:auto; margin-bottom:30px;}
.calendar-contant-right{ float:none; width:auto; margin-left:0;}
.regular-hours-bg h2, .holiday-bg h2{ font-size:24px;}
.trackside-side-bar{ float:none; width:auto; margin-left:0; margin-top:25px;}
.catering-sec-left{ float:none; width:auto;}
.catering-sec-right, .mini-bowling-right{ float:none; width:auto; margin-left:0; margin-top:15px;}
.mini-bowling-left{ margin-top:15px; float:none; width:auto; text-align:left;}
.group-event-sec h1{ font-size:58px;}
.head{ font-size:22px;}
.grup-one-third-cont p{ padding-top:12px;}
.grup-one-third-cont{ padding:12px;}  
.subhead-event{ font-size:20px;}
.head-img img{ width:80%;}
.bill-img img{ width:80%;}
.racing-license-in h2{ font-size:28px;}
.one-seventh{ width:32.28%; margin-bottom:15px; min-height:265px;}
.junior-racing h4{ font-size:17px;}
.junior-racing .price{ font-size:25px;}
.download-sec big{ font-size:60px; line-height:60px;}
.download-subhead{ font-size:20px;}
.event-section h1{ font-size:40px;}
.party-pkg-head{ font-size:18px;}
.idea-box{ width:47%;}
.party-idea-sec{ padding:30px 0;}
.wemake-content{ float:none; width:auto;}/*******/
.wemake-content-form{ float:none; width:100%;}/*******/
.group-corporate-left{ float:none; width:inherit; margin:20px auto; text-align:center;}/*****/
.group-corporate-right{ float:none; width:inherit; margin:20px auto; text-align:center;}
.group-corporate-in{ padding:20px 0px;}/***/
.learn-more{ margin:5px auto;}/***/
.wemake-events-sec{ padding-bottom:0px;}/***/
.calendra-big-circle, .blog-circle, .play-big-circle, .about-big-circle{ position:inherit; top:auto; left:auto; margin-top:-120px;}
.kartracing-big-circle{ position:relative; top:auto; left:auto; margin-top:20px;}
.speed-icon{ left:40%;}
#blogpage #sidebar{ padding-left:0;}
#blogpage .content{ min-height:inherit;}
}

@media screen and (min-width:681px) and (max-width:860px){
.top-bar-right-search{ display:none;}
}

@media only screen and (max-width:680px){
.banner-top{ display:none!important;}
.top-bar{ display:none;}
#main-menu-sec{ display:none;}
.banner-top-content h1{ font-size:80px; line-height:90px;}
.banner-top-content-btn a{ display:block; margin:0px auto 20px auto; max-width:250px; padding:18px 15px; font-size:20px;}
.racing-heading span.paging-icon-mobile{ display:block; padding-bottom:0px; max-width:150px; margin:30px auto 0 auto;}
.racing-heading .paging-icon{ display:none;}
.racing-col-common{ margin-left:0;}
.racing-col-2{ max-width:440px; margin:0px auto; width:auto; float:none; padding-left:0; padding-right:0; padding-bottom:50px;}
.follow-listing ul li a{ border:none;}
.follow-listing ul li{ width:49%;}
.footer-left-sec span{ display:none;}
.banner-top-content{ padding-top:60px;}
.footer-right-sec{ font-size:30px;}
#header-mobile{ display:block;}
.innerpage-banner-in{ padding:60px 0;}
h3{ font-size:22px;}
h4{ font-size:20px;}
.one-half{ float:none; width:auto;}
.octane-recaway-left{ float:none; width:auto; margin-bottom:20px;}
.octane-recaway-right{ float:none; width:auto; margin-left:0;}
.about-us-list-head .post{ padding-top:0; font-size:17px;} 
.regular-hours-bg h2, .holiday-bg h2{ font-size:20px;}
.working-day{ font-size:16px; padding:18px;}
.working-time{ font-size:15px; padding:18px;}
.field{ margin-bottom:15px;}
.happy-hour-sec-in h1{ font-size:70px;line-height: normal;}
.day-text{ font-size:22px; padding:15px 20px;}
.join-text{ font-size:25px;} 
.happy-hour-sec{ margin-bottom:40px;}
.download-btn{ margin-top:20px;}
.racing-best-value-head{ padding-top:15px; padding-bottom:27px;}
.price{ font-size:30px;}
.one-fifth{ width:30%;}
.one-fifth.junior-racing-popular{ width:37%;}
.racing-select{ float:none; width:auto;}
.party-package{ width:46%;}
}

@media only screen and (max-width:640px){
.banner-top-content h1{ font-size:70px; line-height:80px;}
.banner-top-content-btn a{ font-size:18px;}
.race-main-list-left{ margin-left:0; margin-right:2%; text-align:center;}
.about-us-list-head{ float:none;}
.about-us-list-icon a{ padding-left:0; padding-right:15px;}
.about-us-list-icon{ float:none;}
.shop-sec-main-list-in li{ width:47%;} 
.about-content-list-right{ padding:15px;}
.about-content-list li{ margin-bottom:25px;}
.calendar-main-footer ul li{ margin:5px;}
.octane-address{ padding:20px;}
.one-img-hov{ padding:10px;}
.grup-one-third{ float:none; width:auto;}
.head-img img, .bill-img img{ width:auto;}
.head-img, .bill-img{ width:auto; margin-right:15px;}
.head{ font-size:25px;}
.group-item{ padding-top:65%;}
.arcode-sec{ padding:40px 0;}
.racing-value-main{ padding-top:0;}
.racing-value{ display:block; margin-right:0; width:auto; margin-top:20px;}
.racing-value h4{ padding-top:10px;}
.one-seventh{ width:auto; margin-bottom:15px; display:block; margin-right:0; min-height:240px;}
.one-fifth{ width:auto; display:block;}
.one-fifth.junior-racing-popular{ width:auto; display:block; margin-right:0;}
.junior-racing{ margin-top:20px;}
.download-sec big{ font-size:50px; line-height:50px;}
.download-subhead{ font-size:18px;}
.party-package{ width:auto; display:block;}
.fun-kart-race-sec-in h2{ font-size:25px;}
.event-section h1{ font-size:30px;}
.high-speed-text{ font-size:32px;}
.wemake-content h3{ font-size:22px;}/****/
.group-corporate-right h4{ font-size:20px;}/****/
h1{ font-size:40px;}
.grup-one-third-cont{ min-height:inherit;}
.kart-race-head h1 span{ margin-right:8px;}
.about-content-list-left{ margin-right:15px; width:45%;}
.about-content-list-right{ float:none; width:auto}
.clear{ clear:none;}
}

@media only screen and (max-width:540px){
.banner-top-content h1{ font-size:65px; line-height:65px;}
.banner-top-content-btn a{ font-size:18px;}
.main-nav-mobile ul li a{ padding-top:26px; width:90px; padding-bottom:5px}
.main-nav-mobile ul li a i{ font-size:35px;}
#header-mobile .logo{ padding-top:18px;}
.race-main-list-left span{ font-size:110px;}
.tabs ul {display: block;width:464px;}
.tabs ul  li{width:116px!important;}
.tabs ul li a {font-size: 16px!important;padding: 12px 18px!important;}
.calendar-main-footer ul li {margin: 0px;}
.calendar-main-footer ul li {font-size: 18px;padding: 0 10px;}
.high-speed-text{ font-size:28px;}
.racing-heading{ padding-bottom:15px;}
}

@media only screen and (max-width:480px){
.banner-top-content-btn a{ font-size:16px;}
.follow-content h2{ font-size:40px;}
.racing-heading span.paging-icon-mobile{ padding-bottom:10px;}
.racing-arrow{ margin-bottom:10px;}
#header-mobile .logo{ padding-left:0;}
.banner-top-content h1{ font-size:60px; line-height:80px;}
#header-mobile .logo{ max-width:120px; padding-top:35px;}
.race-main-list-left span{ font-size:90px;}
h2{ font-size:28px;} 
.blog-listing ul li{ display:block; width:auto;}
.one-third{ width:auto; float:none; margin-bottom:15px;}
.address-left-text, .address-right-text{ float:none; max-width:inherit;}
.happy-hour-sec-in h1{ font-size:60px;}
.day-text{ font-size:20px; padding:15px 20px;}
.join-text{ font-size:22px;} 
.group-event-sec h1{ font-size:50px;}
.heading-arrow-sec h2{ font-size:30px;}
.innerpage-banner-in{ padding:30px 0;}
.main-nav-mobile ul li ul.mobile-menu li a{ padding:12px 15px;}
.download-sec big{ font-size:40px; line-height:40px;}
.download-subhead{ font-size:16px;}
.idea-box{ display:block; width:auto;}
ul.racing-list li a:hover span{ padding:15px 21px;}
.tabs ul {display: block;width:420px;}
.tabs ul  li{width:105px!important;}
.tabs ul li a {font-size: 14px!important;padding: 12px 15px!important;}
.calendar-main-footer ul li {font-size: 16px;padding: 0 3px;}
.racing-heading span{ margin:0 5px;}
.high-speed-text{ font-size:24px;}
#qem-calendar tr td br{ display:none;}
.calendar-main{ padding:10px;}
.wemake-content h3{ font-size:20px;}/***/
.group-corporate-right h4{ font-size:18px;}/****/
.kart-race-head h1 span{ display:block;}
.trans-bg{ padding:0 15px;}
.about-content-list-left{ float:none; width:auto; border:none; margin-right:0; margin-bottom:10px;}
.follow-content{ margin-left:-90px;}
}

@media only screen and (max-width:420px){
.banner-top-content h1{ font-size:55px; line-height:65px;}
#header-mobile .logo{ padding-top:25px;}
.main-nav-mobile ul li a{ font-size:10px; width:75px;}
.main-nav-mobile ul li a i{ font-size:25px;}
.race-main-list-left span{ font-size:70px; line-height:80px;}
.one-third .red-button{ max-width:inherit;}
.shop-sec-main-list-in li{ width:97%}
.shop-list-img span{ padding:25px 10px;}
.happy-hour-sec-in h1{ font-size:45px;}
.group-event-sec h1{ font-size:45px;}
.subhead-event{ font-size:18px;}
.download-sec big{ display:block;}
.download-sec a{ margin-top:15px; margin-left:0;}
ul.racing-list li a:hover span{ padding:10px 17px;}
.tabs ul {display: block;width:360px;}
.tabs ul  li{width:85px!important;}
.tabs ul li a {font-size: 10px!important;padding: 12px 27px!important;}
.calendar-main-footer ul li {font-size: 14px;padding: 0 0px;}
#qem-calendar h2{ font-size:20px;}
.calendar-main-footer ul .green-box i, .calendar-main-footer ul .white-box i, .calendar-main-footer ul .red-box i{ font-size:18px; padding-right:5px;}
.outdoor-game-sec1-cont h2 img{ max-width:40px; padding-right:10px;}
h2{ font-size:24px;}
.heading-arrow-sec h2{ font-size:25px;}
.head{ width:auto;}
}

@media only screen and (max-width:380px){
.banner-top-content h1{ font-size:50px; line-height:60px;}
.main-nav-mobile ul li a{ padding-top:22px; padding-bottom:5px; width:65px; padding-left:0; padding-right:0;}
#header-mobile .logo{ padding-top:25px; padding-bottom:5px;}
.happy-hour-sec-in h1{ font-size:40px;}
.group-event-sec h1{ font-size:40px;}
.download-sec big{ font-size:30px; line-height:30px;}
.download-subhead{ font-size:15px;}
ul.racing-list li a:hover span{ padding:10px 15px;}
.tabs ul {display: block;width:320px;}
.tabs ul  li{width:80px!important;}
.tabs ul li a {font-size: 10px!important;padding: 12px 14px!important;}
.calendar-main-footer ul li {font-size: 12px;}
.regular-day p { padding-top: 0px;}
}

@media only screen and (max-width:340px){
#header-mobile .logo{ max-width:100px; padding-top:18px;}
.banner-top-content h1{ font-size:45px;}
.main-nav-mobile ul li a span{ display:none;}
.main-nav-mobile ul li a{ padding-bottom:14px; width:58px;}
.event-section h1{ font-size:25px;}
ul.racing-list li a:hover span{ padding:8px 13px;}
.racing-list2{ width:83%;}
.tabs ul {display: block;width:300px;}
.tabs ul  li{width:75px!important;}
.tabs ul li a {font-size: 10px!important;padding: 12px 0px!important;}
/************23-1-16**************/
.popup-content { padding: 0%!important;}
.regular-day p { padding-top: 0px;}
}

@media only screen and (max-width:320px){
.banner-top-content h1{ font-size:40px;}
#header-mobile .logo{ padding-right:10px;}
ul.racing-list li a:hover span{ padding:7px 11px;}
.tabs ul {display: block;width:284px;}
.tabs ul  li{width:66px!important;}
.tabs ul li a {font-size: 10px!important;padding: 12px 0px!important;}
/************23-1-16**************/
.popup-content { padding: 0%!important;}
.mfp-container { padding-left: 0px!important;padding-right: 0px!important;left:2%!important;width:88%!important;}
.regular-day p { padding-top: 0px;}

}

@media only screen and (max-width:300px){
.main-nav-mobile ul li a{ width:50px;}
}