@media only screen and (max-width:980px)
{
   .custom-theme-left-nav ul li a{ padding:10px 12px;}
   .custom-theme-left-nav .ui-accordion .ui-accordion-icons{ padding:12px;}
}

@media only screen and (max-width:860px)
{
    .startlocation-map, .geolocation-enable, .map-setting, .map-flyout, .cat-overlay{ float:none; width:auto;}
	.list-enable li{ width:46%;}
	.opt-enable-label{ width:auto; padding-right:15px;}
	.no-record-head{ float:none; width:auto;}
	.no-record-border{ float:none; width:auto;}
	.no-record-wording-field{ width:48%;}
	.spot-overlay-setting{ float:none; width:auto;}
	.overlay-bgcolor, .overlay-width, .overlay-height{ float:none; width:auto;}
	.geolocation{ margin-left:0;}
	.field-right, .field-left{ float:none; width:auto;}
	.field-right{ padding-top:10px;}
	.premium-img-left{ width:45%;}
	.premium-wording{ width:30%;}
	.overwrite{ float:none; width:auto;}
	.searchpanel-box{ float:none; width:auto;}
	.list-options li{ width:auto;}
	.octane-no_record_found{ margin-left:0; margin-right:0;}
	.custom-theme-content-wrapper .content{ float:none; width:auto;}
	.custom-theme-content-wrapper .sidebar{ float:none; width:auto; margin-top:15px;}
	.custom-theme-left-nav .ui-accordion .ui-accordion-icons{ padding:10px;}
    .custom-theme-left-nav ul li i{ padding-right:5px;}
	.custom-theme-left-nav ul li a{ font-size:13px; padding:10px;}
}

@media only screen and (max-width:740px)
{  
	.field-head{ float:none; width:auto;}
	.field-main{ float:none; width:auto;}
	.premium-img-left, .premium-img-right{ float:none; width:auto;}
}

@media only screen and (max-width:680px)
{
   .setting-options-list li{ display:block; width:auto;}
   .one-half{ float:none; width:auto;}
   .octane-no_record_found{ font-size:32px;}
   .octane-no_record_found span{ font-size:20px;}
   .custom-theme-left-nav ul li a{ font-size:22px;}
   .custom-theme-left-nav ul li .leftmenu-text{ display:none;}
   .custom-theme-left-nav{ width:12%; text-align:center;}
   .custom-theme-content-wrapper{ width:88%;}
   
}

@media only screen and (max-width:620px)
{
   .color-setting .color-box{ float:none; margin-top:10px;}
   .color-setting-field{ float:none;}
   .searchpanel-left{ float:none; width:auto; padding-bottom:10px;} 
   .searchpanel-right{ float:none; width:auto;}
   .octane-no_record_found{ font-size:30px;}
   .octane-no_record_found span{ font-size:18px;}
}

@media only screen and (max-width:520px)
{
   .octane-no_record_found{ font-size:22px; padding:15px;}
   .octane-no_record_found span{ font-size:16px;}
   .custom-theme-left-nav ul li a{ font-size:18px;}
   .custom-theme-wrapper h2{ font-size:27px; line-height:32px;}
   .custom-theme-wrapper h3{ font-size:18px;}
}

@media only screen and (max-width:420px)
{
   .custom-theme-wrapper h2{ font-size:22px; line-height:26px;}
   .custom-theme-title{ padding:15px;}
   .custom-theme-wrapper h3{ font-size:18px;}
}

@media only screen and (max-width:380px)
{
   .custom-theme-left-nav ul li a{ font-size:16px;}
}