* { margin:0;padding:0;border:0;outline:0}

html {height: 100%;}

html,  body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote,  pre,a, abbr, acronym, address, big, cite, code, font, small, strong, dl, dt, dd, ol, ul, li, form, label {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit; 
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;}

.custom-theme-wrapper p{ padding:0; margin:0;}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;}

.clearfix{ display:inline-block;}

html[xmlns] .clearfix{ display:block;}

.custom-theme-wrapper img{
    max-width:100%; 
    height:auto;
    border:none;}

.custom-theme-wrapper a{ 
    transition:color 0.2s ease-in; 
    -moz-transition:color 0.2s ease-in; 
    -webkit-transition:color 0.2s ease-in;
    text-decoration:none;}

.custom-theme-wrapper a:hover{ 
    text-decoration:none;}

.custom-theme-wrapper input[type="text"], .custom-theme-wrapper textarea, .custom-theme-wrapper select, .custom-theme-wrapper button, .custom-theme-wrapper input[type="submit"], .custom-theme-wrapper input[type="button"]
{ -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;}

.custom-theme-wrapper ul{
  margin:0px; 
  padding:0px;}

.custom-theme-wrapper ul li{ list-style:none;}

body{ 
  width:100%; 
  height:100%;
  font-size:14px; 
  font-family: 'Roboto', sans-serif;}

.custom-theme-wrapper strong{ font-weight:700;}

.custom-theme-wrapper .overlay_area {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.70);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; 
	text-align:center;
	vertical-align:middle;
	padding-top:30%;
    z-index:9999;
    color:#FFF;
}

/************reset css******************/

.row{ 
  max-width:1100px; 
  margin:0px auto;
  padding:0 15px;}
  
.custom-theme-wrapper{ 
  background:#f1f1f1;
  padding:20px 20px 20px 0;
  font-size:13px;
  color:#000; }

.custom-theme-wrapper .octane-common{ margin-left:-3%;}
  
.custom-theme-wrapper .field{ 
  display:block; 
  float:left;
  margin-left:3%;}  
  
.custom-theme-wrapper .field-medium{ width:50%;}
  
.custom-theme-wrapper .field-small{ width:30%;}
  
.custom-theme-wrapper .field-large{ width:100%;}
  
.custom-theme-wrapper textarea{ 
  resize:vertical;
  width:100%;
  min-height:160px;} 
  
.custom-theme-wrapper .main-form select{ 
  padding:4px 8px;
  height:inherit;
  line-height:inherit;}  
  
.custom-theme-wrapper label{ 
  font-size:14px;
  color:#6f6d6d; }  
  
.custom-theme-wrapper .form-header{ 
  padding-bottom:12px;
  margin-bottom:10px;
  border-bottom:1px dotted #ccc;}

/************ Form Editor ***********/

#octane_form_builder_main{ margin:12px 0;}

.octane_form_builder_wrapper .ui-tabs .ui-tabs-panel{ padding:0;}

#octane_form_content{ 
  float:left; 
  width:62%; 
  margin-left:3%;} 
  
#octane_form_sidebar{ 
  float:left; 
  width:32%; 
  margin-left:3%;}    
  
.form-editor{ 
  border:1px solid #d3d3d3;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  padding-top:7px;}
  
.form-editor-label{ padding-left:10px;}
  
.custom-theme-wrapper .form-editor h2{ 
  font-size:24px; 
  color:#000;}
  
.custom-theme-wrapper .form_builder_section li{ 
  background:#fff; 
  padding:8px;
  margin-bottom:5px;
  border:1px #fff solid;
  position:relative;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;}

.custom-theme-wrapper .form_builder_section li:hover, .custom-theme-wrapper .form_builder_section li.highlighted, .custom-theme-wrapper .form_builder_section li.edit_mode{ 
  background:#eeeeee;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;}
  
.custom-theme-wrapper .form_builder_section li.edit_mode .add-remove-opt{ 
  background:#b3b3b3;
  border:1px #848484 solid;
 }  
 
.custom-theme-wrapper .form_builder_section li.edit_mode .add-remove-opt label{ color:#333;}
  
.custom-theme-wrapper .form_builder_section li:hover .move *{ cursor:auto;}

.remove-field{
  position:absolute;
  right:10px;
  top:5px;}
  
.remove-field .fa-times-circle{ 
  color:#1E8CBE;
  font-size:16px;
  padding-right:0;} 
  
.add-remove-opt{ 
  width:100%; 
  background:#e4e4e4;
  position:relative;
  height:30px;
  border:1px #ccc solid;} 

.show-hide-field{
  position:absolute;
  right:30px;
  top:5px; }

.show-hide-field .fa-minus-circle{ 
  color:#1E8CBE;
  font-size:16px;
  padding-right:0;}
  
.show-hide-field .fa-plus-circle{ 
  color:#1E8CBE;
  font-size:16px;
  padding-right:0;}
  
.form-builder-field{ padding:5px 0;}
  
.custom-theme-wrapper label.description{
  font-weight: 700;
  display: block;
  padding:5px 0px; }
  
.custom-theme-wrapper label.element{ 
  padding:2px 0 3px 0px;
  display:block;}  
  
.required{ 
  color:#ff0000; 
  font-weight:700;}

.octane-field-group span{ 
  float:left;
  margin-right:5px;}
  
.field-block{ 
  display:block;
  padding:2px 0;}
  
.octane-field-inline{ 
  display:inline-block;
  padding:3px 8px 3px 0;}
  
.octane-field-inline input, .field-block input{ 
  vertical-align:top; 
  display:inline-block; 
  margin-top:2px;
  margin-right:2px;}
  
.custom-theme-wrapper input[type="text"], .custom-theme-wrapper select, .custom-theme-wrapper textarea, .custom-theme-wrapper input[type="number"]{ 
  border:1px #ccc solid;
  padding:5px 8px;
  font-size:14px;
  color:#6f6d6d;}

.custom-theme-wrapper .left{ 
  float:left; 
  width:48%;}

.custom-theme-wrapper .right{ 
  float:right; 
  width:48%;}

.custom-theme-wrapper .address{ 
  padding-bottom:8px;
  display:block;}  
  
.section_break {
  border-top: 1px dotted #ccc;
  margin-top: 9px;
  padding-bottom: 0;
  padding-top:10px;}
  
.bottom-bar{ 
  text-align:center;
  padding:20px 10px;
  background:#efefef;
  border:1px #d6d6d6 solid;}
  
.button{ 
  background:#d8d8d8;
  border: 1px solid #b0b0b0;
  border-radius:5px;
  padding:4px 10px;
  color:#606060;
  font-weight:700;
  margin:0 5px;}
  
.button:hover{ background:#c7c7c7; }
  
.custom-theme-wrapper .form-editor i, .custom-theme-wrapper #builder-tabs i{ padding-right:4px;}

#.custom-theme-wrapper builder_tabs_btn li{ 
  float:left;
  display:block;}

.custom-theme-wrapper #builder_tabs_btn li a{ 
  background:#f0f0f0;
  padding:6px 8px;
  color:#000;
  display:inline-block; }
  
.custom-theme-wrapper #builder_tabs_btn li a:hover, .custom-theme-wrapper #builder_tabs_btn li.ui-tabs-active a{ background:#e4e4e4;}

.builder_tab_desc{ 
  background:#e4e4e4; 
  padding:10px; 
  border:1px #d3d3d3 solid;}
  
.custom-theme-wrapper .builder_tab_desc label{ padding-bottom:2px;}
  
.ui-corner-top{
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px; }  
  
.ui-corner-topright{
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -moz-border-radius-topright:5px; }
  
.ui-corner-bottom{
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px; }  

.custom-theme-wrapper .builder_tab_desc ul li{ margin-bottom:8px;}
  
.custom-theme-wrapper .tab-add-field li a{ 
  padding:8px;
  border-radius:5px;
  display:block;
  color:#000;
  background:#fff;}
  
.custom-theme-wrapper .tab-add-field li a:hover{ background:#f7f7f7; }

.custom-theme-wrapper fieldset{ 
  border:1px solid #ccc; 
  border-radius:5px;   
  -moz-border-radius:5px;   
  -webkit-border-radius:5px;
  padding:10px;}
  
.custom-theme-wrapper legend{
  background:#e1e1e1;
  padding:2px 6px;
  border-radius:3px;
  -webkit-border-radius:3px;}

.tab-add-field, .tab-field-properties, .tab-form-properties{ display:none;}

.show{ display:block;}

#new_gd_field_loading{
  display:none;
  text-align:center;}

.custom-theme-wrapper .hide{
  display:none;}
  
.octane_form_builder_wrapper .ui-widget-header{ background:none; border:none; padding:0; margin:0;}

.octane_form_builder_wrapper .ui-tabs .ui-tabs-nav{ padding:0; margin-bottom:-1px;}

.octane_form_builder_wrapper .ui-tabs{ 
  padding:10px;
  font-size:13px;}

.octane_form_builder_wrapper .ui-tabs .ui-tabs-nav li.ui-tabs-active{ padding:0;}

.octane_form_builder_wrapper .ui-state-active, .octane_form_builder_wrapper .ui-widget-content .ui-state-active, .octane_form_builder_wrapper .ui-widget-header .ui-state-active{ border:1px solid #d3d3d3; border-bottom:none;}

.builder_tab_desc ul li.octane-field-group-separator{ 
  height:1px; 
  background:#ccc; 
  margin:10px -10px; }
  
.field_type{ cursor:move; text-transform:capitalize; display:block; margin-right:35px; padding:5px 0 5px 10px; font-weight:700;}
    
/***************** Matrix *******************/

.form_builder_section li .matrix table {
  border-collapse: collapse;
  margin: 0 0 5px;
  text-align: left;
  width: 100%;}  

.form_builder_section li .matrix caption {
  font-size:13px;
  font-weight: 700;
  text-align: left;
  padding-bottom:5px; }
  
.form_builder_section li .matrix th {
  border-bottom: 1px solid #888;
  font-weight: normal;
  padding: 5px 0;
  text-align: center;}
  
.form_builder_section li .matrix tr.alt {
  background-color: #f5f5f5; }  

.form_builder_section li .matrix td.first_col {
  font-weight: 700;
  text-align: left;}
	
.form_builder_section li .matrix td {
  border-bottom: 1px solid #ccc;
  padding: 6px 8px;
  text-align: center; }

/********************** Form Editor ******************************/
  
.custom-theme-wrapper .clear { clear:both !important;}

.custom-theme-wrapper h2{ 
  font-size:30px; 
  font-weight:700;
  color:#272727;}
    
.custom-theme-wrapper h3{ 
  font-size:22px; 
  font-weight:700;
  padding-bottom:5px;
  color:#6f6d6d;}
  
.custom-theme-wrapper h4{ 
  font-size:17px; 
  color:#6f6d6d;
  font-weight:700;}  
  
.custom-theme-wrapper h5{ 
  font-size:15px; 
  color:#6f6d6d;
  font-weight:700;}
  
.custom-theme-wrapper h4 small{ 
  font-size:12px;
  font-style:italic;
  font-weight:400;}
  
.txtorange{ color:#ff7e00;}

.custom-theme-title{ 
  background:#fff;
  padding:20px;
  margin-bottom:20px;
  border:1px #dedede solid;
  border-bottom:3px #ff8229 solid;}
  
.custom-theme-wrapper-in{ position:relative; }

/**--- Left Nav ---**/


/************** Accordian nav ***************/

.ui-accordion .ui-accordion-content{ 
  padding:0; 
  border:none;
  border-radius:0;
  background:none;}

.ui-accordion .ui-accordion-icons{ padding:10px 20px;}

.ui-accordion .ui-accordion-header{ 
  border:none;
  margin:0;
  border-radius:0;}
  
.ui-accordion .ui-accordion-header .ui-accordion-header-icon{ left:auto; right:15px;}

.ui-state-default .ui-icon{ background:url(../../images/admin/leftnav-right-arrow.png) no-repeat 0 3px;}

.ui-state-active .ui-icon{ background:url(../../images/admin/leftnav-down-arrow.png) no-repeat 0 3px;}

.ui-icon{ width:8px; height:16px;}
  
.custom-theme-left-nav{ 
  float:left; 
  width:22%;
  background:#2a2522;}

.custom-theme-left-nav ul li{ 
  position:relative;
  border-bottom:1px #db5800 solid;}
  
.custom-theme-left-nav ul li:last-child{ border-bottom:none;}
  
.custom-theme-left-nav ul li a{
  display:block;
  padding:10px 20px; 
  background:#ff6000;
  color:#fff;
  font-weight:400;
  font-size:14px;}
  
.custom-theme-left-nav ul li a:focus{ box-shadow:none;}
  
.custom-theme-left-nav ul li ul li a:hover, .custom-theme-left-nav ul li.active a{ background:#b39f93;}
  
.custom-theme-left-nav ul li ul li a{ background:#2a2522;}

.custom-theme-left-nav ul li ul li{ border:none;}

.custom-theme-left-nav ul li i{ padding-right:10px;}

.custom-theme-left-nav ul li.active a:after{   
    border-color: transparent #f1f1f1 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width:9px;
    content: " ";
    height: 0;
    margin-top:-9px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;}

/**--- Left Nav ---**/

.custom-theme-content-wrapper{   
  border-bottom:1px #dedede solid;
  border-top:1px #dedede solid;
  float:left;
  width:78%;
  background:#fff;
  box-sizing: border-box;
  border-right:1px #dedede solid;
  min-height:480px;  }
  
.custom-theme-content-wrapper-in{ padding:15px; }
  
.field-row{ padding:12px 0px;}
  
.octane-seprator{ 
  display:block; 
  height:1px; 
  background:#dbdbdb;
  margin:10px 0;}

.main-form label{ 
  font-size:14px;
  font-weight:500;
  color:#6f6d6d;
  padding-right:15px;}

.field-lbl{ 
  display:block; 
  float:left; 
  width:30%;
  margin-left:3%;
  padding:5px 0;}

.notification{ 
  font-size:12px; 
  color:#000; 
  background:#fdd68e; 
  padding:10px 20px;
  margin-top:-1px;
  font-size:14px;}
  
.field-head{ 
  float:left;
  width:30%;
  margin-right:5%;}

.field-main{ 
  float:left; 
  width:65%;
  padding-top:3px;}
  
.field-options{ 
  padding:0px 0 16px;
  display:block;}
  
.field-options p{ padding-bottom:10px;}

.main-form .lbl-block{ 
  display:block; 
  padding:0 0 7px 0;}
  
.octane-short-desc{ 
  color:#6f6d6d; 
  font-size:13px;
  display:block;
  padding:2px 0 0px 0;
  font-style:italic;}

.choose1{ 
  margin-right:7px;
  cursor:pointer;
  margin-top:-2px;
  vertical-align:middle;}
  
.colorbox{ 
  background:#7c0909;
  border:1px #7c0909 solid;
  padding:7px 8px;
  width:16px;
  display:inline-block;}
  
.select-color{ 
  background:#fff;
  display:inline-block;
  padding:7px 8px; 
  border:1px #ccc solid;
  color:#6f6d6d;}
  
.main-form select{ margin-right:15px;}

.link {
  color:#6f6d6d;
  padding: 0 10px;
  text-decoration: underline;}
  
.link:hover{ text-decoration:none;}

.set-radius {
  color:#474747;
  font-size: 14px;
  font-weight: 700;
  margin-left:15px;
  margin-right:5px;
  padding:3px 12px;
  border:1px #d3d3d3 solid;
  background:#f0f0f0;}
  
.one-half{ 
  float:left; 
  width:47%; 
  margin-left:3%;}

.color-box{ 
  width: 150px;
  display:block;
  margin-top:10px;}

.color-box input[type="text"]{
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  width: 50% !important; }
    
.color-img {
  float:left;
  width:40%; }
  
.premium-img-left {
  float: left;
  margin-right: 3%;
  padding-top: 15px;
  width:42%;}  

.premium-img-right {
  float: left;
  padding-top: 15px;
  width:55%;}
  
.premium-img-right .lbl-block{ padding-bottom:0;}

.setting-icons {
  color: #504e4e;
  font-size: 18px !important;
  padding: 0 10px; }
  
.spot-pin{ 
  margin-top:10px;}
  
.spot-pin-add{ 
  vertical-align:top; 
  margin-left:10px;}

.setting-options-list{ padding:0 0 10px 0;}  

.setting-options-list li {
  display: inline-block;
  margin-left: 3%;
  padding:10px 0;
  vertical-align: top;
  width:46%;}
  
.octane-no_record_found {
  border: 1px solid #b50000;
  background:#fff;
  border-radius: 5px;
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 25px;
  margin:25px 0;
  padding: 20px 25px;}
  
.octane-no_record_found span {
  font-size: 24px;
  font-style: italic; 
  display:block;
  padding-top:10px;}

.color-setting .color-setting-field{ 
  float:left;
  margin-right:10px;}

.color-setting .color-box{ 
  float:left;
  margin-top:1px;}

.searchpanel-enable, .searchpanel-button, .searchpanel-collection, .searchpanel-fixed {
    padding: 5px 0;}

.searchpanel-left { padding-top:8px;}

.searchpanel-fixed .searchpanel-left{ padding-top:0;}

.searchpanel-left{
  float: left;
  margin-right: 3%;
  width:50%;}

.searchpanel-right{ 
  float:left; 
  width:47%;}

.section{ 
  background:#f7f7f7; 
  padding:5px 15px;
  margin:5px 0;}

.notification-box label span.txtorange{ text-transform:uppercase;}

.notification-box input[type="text"], .notification-box textarea{ margin:7px 0 7px 0;}

.notification i.fa-info-circle{ 
  font-size:18px; 
  color:#ff6000; 
  margin-right:5px; 
  vertical-align:middle;}

.octane_error{	border:#FF0000 1px solid !important; }

.ui-slider{
  width:75%; 
  float:left;
  margin-top:3px;}
  
.ui-widget-content{ border:1px solid #d3d3d3;}

.ui-slider .ui-slider-handle{ height:1.5em;}

.ui-slider-horizontal{ height:1em;}

.infowindow-img{ margin-top:15px;}

.autocompleter{ padding-left:15px;}

.select2-container{ display:block !important; margin-bottom:10px;}

.select2-container-multi .select2-choices{ background-image:none; padding:0;}

.form_builder_section li .select2-container-multi .select2-choices .select2-search-choice{ 
  padding:5px 10px !important; 
  background:#eee;
  border:1px #ddd solid;
  }

.form_builder_section li .select2-container-multi .select2-choices .select2-search-choice div{margin-left:8px;}  
  
.form_builder_section .select2-container-multi .select2-search-choice-close{ 
  top:5px;}

.form_builder_section li .select2-container-multi .select2-choices .select2-search-field{ padding:0!important; border:none;}

.payment-pkg-cat{ 
  padding:5px;
  margin-bottom:6px;
  background:#ebebeb;  
  border:1px solid #d5d5d5;}

.custom-theme-wrapper ul.payment-pkg-subcat{ 
  padding:7px 0;
  border:1px solid #d5d5d5;
  border-top:none;
  margin-top:-6px;
  margin-bottom:6px;
  background:#f9f9f9;}
  
.payment-pkg-subcat-link{ padding:0 8px;}

.payment-pkg-subcat li{ padding:5px 0;}

.payment-pkg-subcat-field{ 
  padding:10px;
 /* border-bottom:1px solid #e0e0e0*/}

.payment-pkg-subcat-field input{ margin-right:15px;}

/*****************************************************/

.octane-map-container .octane-label-block {
  display: block;
  padding-bottom: 5px; }

.custom-theme-wrapper .octane-map-container .field {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 8px 12px;
  width: 100%;
  float:none;
  margin-left:0;}

.octane-map-container .octane-loc-map{ margin: 0 0 15px;}

.octane-map-container .one-third{
  float: left;
  margin-left: 3%;
  width: 30.33%; }

.octane-field-group { padding-bottom: 10px;}

.custom-theme-wrapper .form-editor-label{ padding:0 10px;}

optgroup.octane-opt-group-grid{ 
  font-weight:normal; 
  font-style:normal;}

optgroup.octane-opt-group-grid option{ padding-left:8px;}

.octane-breadcrumb li{ 
  display:inline-block;
  line-height:12px;
  padding:0 3px 0 0;
  margin-right:3px; 
  font-size:13px;}